    {% extends 'base.html' %}
{% load staticfiles %}
        {% block css %}

           <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/register.css' %}">
        {% endblock css %}

{% block header %}
{% endblock header %}
{% block search %}
{% endblock search %}
{% block body %}


    <div class="mylogin">
        <div >
            <img src="{% static 'mgs/logo.png' %}" alt="" class="logo">
        </div>
        <div class="login">
            <div class="left">
                <div class="top">
                    <form method="post" action="/user/register">
                        {% csrf_token %}
                    <input type="text" name="user" placeholder="用户名" class="myInputStyle" >
                    <input type="text" name="email" placeholder="您的邮箱" class="myInputStyle" autofocus>
                    <input type="password" name="password" placeholder="请输入密码" class="myInputStyle">
                    <input type="password" placeholder="请再次输入密码" class="myInputStyle">
                    <div class="Text">
                        <p id="hint"></p>
                    </div>
                    <button class="myBtn">马上注册</button>
                    </form>

                </div>
                <div class="middle">
                    用合作网站账户直接登录{{ errmsg }}
                    <div class="other">
                        <div><img src="{% static 'imgs/h_wb.png' %}" alt=""><p>微博</p></div>
                        <div><img src="{% static 'imgs/h_qq.png' %}" alt=""><p>QQ</p></div>
                        <div><img src="{% static 'imgs/h_wx.png' %}" alt=""><p>微信</p></div>
                    </div>
                </div>
            </div>
            <div class="right">
                <img src="{% static 'imgs/er.jpg' %}" alt="">
                <p>扫一扫</p>
                <p>下载马蜂窝APP</p>
            </div>
        </div>
        <div class="bottom"><span>已有账号？</span><a href="{% url 'user:login' %}">去登录</a></div>
    </div>
{% endblock body %}
{% block footer %}
{% endblock footer %}
 {% block js %}
    <script src="{% static 'js/register.js' %}"></script>
{% endblock js %}

